nav{
    background-color: lightgray;
    width: 100%;
    overflow: hidden;
}
nav h1{
    display: inline;
}

body{
    margin: 0;
}

#highscore{
    float: left;
    margin-left: 20px;
}

#timer{
    float: right;
    margin-right: 20px;
}

#title{
    text-align: center;
    width: 35%;
    margin: 20px 32.5%;
}

#main-screen-description{
    text-align: center;
    width: 60%;
    margin: 10px 20%;

}

#start-button{
    background-color: purple;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    margin: 15px 48% 15px 48%;
}

.buttons{
    background-color: purple;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    margin: 10px 90% 0 0;
}

.button-div{
    width: 50%;
    margin: 10px 25%;
}

#result{
    display: none;
    width: 60%;
    margin: auto 20% auto 20%;
    text-align: center;
    color: lightgray;
    border-top: 3px solid lightgray;
}